/***********************************GENERAL********************************/

html, body {
    min-height: 100%;
    min-width: 320px;
}

body {
    min-width: 1260px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif;
    color: #222222;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222222;
}

h3 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 41px;
}

.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 0 1%;
}

.container {
    max-width: 1240px;
}

.about,
.services,
.collaborations,
.portfolio,
.contacts {
    display: flex;
    flex-direction: column;
}

.services-photos_1,
.services-photos_2,
.collaborations_photo_content,
.portfolio-photos_1,
.portfolio-photos_2 {
    display: flex;
    justify-content: space-between;
}

.services-1,
.services-2,
.services-3,
.services-4,
.collaborations-photo_1,
.collaborations-photo_2,
.collaborations-photo_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/************************************HEADER******************************/

.header {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 57px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

h4 {
    font-size: 34px;
    text-shadow: 2px 2px grey;
}

.menu-list {
    display: flex;
    align-items: center;
}

.list-item {
    list-style-type: none;
}

.list-item > a {
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s;
}

.list-item a:hover {
    border-bottom: 2px solid #222222;
}

.list-item:not(:first-of-type) {
    margin-left: 35px;
}

.header-content {
    display: flex;
    align-items: center;
    margin-top: 33px;
}

.header-content p {
    font-size: 20px;
}

.header-content p:first-of-type {
    align-self: flex-end;
}

.photo-content {
    display: flex;
    flex-direction: column;
}

.header-content h1 {
    font-size: 105px;
    position: relative;
    text-transform: uppercase;
    bottom: 90px;
    left: 55px;
}

.content-h2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    right: 35px;
}

.content-h2 h2 {
    font-size: 105px;
    text-transform: uppercase;
}

.content-h2 p {
    font-size: 45px;
}

/*********************ABOUT************************************/

.main {
    width: 100%;
    padding-top: 57px;
}

.about-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-description {
    width: 525px;
}

.about-description p {
    font-size: 20px;
    margin-bottom: 39px;
}

.about-description a {
    display: inline-block;
    border: 1px solid #222222;
    font-size: 20px;
    margin-top: 26px;
    padding: 13px 70px;
    transition: 0.3s;
}

.about-description a:hover {
    background-color: #222222;
    color: #FFFFFF;
}

.about-photo img {
    object-fit: cover;
    width: 610px;
    height: 610px;
}

/*************************SERVICES*************************************/

.services {
    margin: 150px 0 150px 0;
}

.services-photos_1,
.portfolio-photos_1 {
    margin-bottom: 20px;
}

.services-1::after {
    content: '';
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.services-btn,
.collaborations-btn {
    text-align: center;
    position: relative;
    z-index: 1;
}

.services-btn a,
.collaborations-btn a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    font-size: 20px;
    margin-top: 40px;
    padding: 13px 70px;
    color: #FFFFFF;
    transition: 0.3s;
}

.services-btn a:hover {
    background-color: #FFFFFF;
    color: #222222;
}

.services-btn p,
.collaborations-btn p {
    width: 230px;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.services-1 {
    width: 610px;
    height: 476px;
    background-image: url("../images/service-1.png");
    background-repeat: no-repeat;
}

.services-1::after {
    content: '';
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.services-2 {
    width: 610px;
    height: 476px;
    background-image: url("../images/service-2.png");
    background-repeat: no-repeat;
}

.services-2::after {
    content: '';
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.services-3 {
    width: 610px;
    height: 476px;
    background-image: url("../images/service-3.png");
    background-repeat: no-repeat;
}

.services-3::after {
    content: '';
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.services-4 {
    width: 610px;
    height: 476px;
    background-image: url("../images/service-4.png");
    background-repeat: no-repeat;
}

.services-4::after {
    content: '';
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

/***********************COLLABORATIONS***********************************************/

.collaborations {
    margin-bottom: 150px;
}

.collaborations-photo_content {
    display: flex;
    justify-content: space-between;
}

.collaborations-btn a:hover {
    background-color: #FFFFFF;
    color: #222222;
}

.collaborations-photo_1 {
    width: 400px;
    height: 570px;
    background-image: url("../images/colaboration-1.png");
    position: relative;
}

.collaborations-photo_1::after {
    content: '';
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.collaborations-photo_2 {
    width: 400px;
    height: 570px;
    background-image: url("../images/colaboration-2.png");
    position: relative;
}

.collaborations-photo_2::after {
    content: '';
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.collaborations-photo_3 {
    width: 400px;
    height: 570px;
    background-image: url("../images/colaboration-3.png");
    position: relative;
}

.collaborations-photo_3::after {
    content: '';
    background: rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

/********************************************PORTFOLIO***********************/

.portfolio {
    margin-bottom: 150px;
}

.portfolio a {
    display: block;
    align-self: center;
    font-size: 20px;
    margin-top: 55px;
    padding: 13px 35px;
    border: 1px solid #222222;
    transition: 0.3s;
}

.portfolio a:hover {
    background-color: #222222;
    color: #FFFFFF;
}

/*****************************************CONTACTS*************************/

.contacts {
    width: 100%;
    margin-bottom: 150px;
}

.contacts-info {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    width: 610px;
}

.form .input {
    height: 15%;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 18px;
}

.form .input, textarea {
    display: block;
    border: 1px solid #222222;
}

.form textarea {
    width: 100%;
    height: 160px;
    margin-bottom: 35px;
    padding-left: 20px;
    font-size: 18px;
}

form .btn {
    align-self: flex-end;
    font-size: 20px;
    padding: 13px 70px;
    border: 1px solid #222222;
}

.social-icons a {
    font-size: 24px;
    text-transform: uppercase;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.social-icons p {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
}

.tel-tik {
    margin-left: 65px;
}

.instagram,
.facebook {
    margin-bottom: 30px;
}

.instagram::before {
    content: url("../images/instagram.svg");
    margin-right: 20px;
}

.facebook::before {
    content: url("../images/facebook.svg");
    margin-right: 20px;
}

.telegram::before {
    content: url("../images/telegram.svg");
    margin-right: 20px;
}

.tiktok::before {
    content: url("../images/tik-tok.svg");
    margin-right: 20px;
}

.contacts-data {
    display: flex;
}

.contacts-data p:not(:last-of-type) {
    margin-bottom: 45px;
}

/********************************FOOTER*******************************/

.footer {
    width: 100%;
    padding: 80px 0;
    background-color: #222222;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-info h2 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 55px;
}

.footer-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 45px;
}

.footer-list-item:not(:first-of-type) {
    margin-left: 105px;
}

.footer-list-item a {
    color: #FFFFFF;
}

.social a:not(:first-of-type) {
    margin-left: 45px;
}

/*********************************************************************/

@media screen and (min-width: 0px) and (max-width: 576px) {

}

@media screen and (min-width: 576px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) and (max-width: 1299px) {

}